img {
  width: 100px;
}
.imgList {
  width: 50px;
}

.sidebar_td {
  border: 0px solid #aaa;
  padding: 5px;
}
.sidebar_th {
  border: 0px solid #aaa;
  padding: 5px;
}
.width1 {
  min-width: 200px;
  max-width: 200px;
}